{% extends "authentication/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

 <div class="content-section col-md-8 col-md-offset-2">
  <center>
      <h2><i><u>Registration page for Sales Representatives</u></i></h2>
  <form method="POST" style="border: 4px solid border-left; margin: 5%; padding: 4px; border-radius:1%;">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy}}
    </fieldset>
   <center>
    <button style="background: rgb(3, 4, 6); font-size: 3rem; padding:1%;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> &nbsp; submit</button>
  </center>
  <br/>
  <sub style="text-align: left;"><a href="{% url 'register' %}" style="text-decoration: none; color: yellowgreen; padding:2%; cursor:pointer; margin-right:2%;">You are ready to login now</a></sub>
  </form>
</center>
 </div>
{% endblock start %}