* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}


/* Navigation */
 
.nav-container{
    border: 1px solid #EBF0F5;
    box-sizing: border-box;
    border-radius: 10px;
    transform: rotate(-90deg);
    position: absolute;
    width: 74px;
    height: 1340px;
    left: 50px;
    top: 314px;
    color: blue;
    }
    
.wrapper {
        max-width : 1200px;
        margin: 0 auto;
    }

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

    
    