body .login{
    background-color: #cccccc;
    background-image: url(a.jpeg);
    background-position: 0 0,10px 10px;
    background-size: 21px 21px;
}


    form{
    background-color: rgb(131, 179, 190);
}

* {
  box-sizing: border-box;
  margin: 0;
}


